# Database
DATABASE_PASSWORD=your_db_password
Production_DATABASE_URL=postgresql://postgres:your_db_password@database:5432/Tamkeen_Backend

# General Environment Versions
BACKEND_VERSION=v1.5.7
FRONTEND_VERSION=latest
AI_TRACKER_VERSION=latest
AI_RECOMMENDATION_VERSION=latest
AI_SKILL_VERSION=latest
